html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

canvas {
  height: 100vh;
  width: 100%;
}

#background {
  background-image: url("images/1-background.jpg"); 
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
}

#winner {
  position: absolute;
  height: 60%;
  width: 35%;
  border-radius: 50%;
  left: 0;
  top: 25%;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  font-size: 3em;
}

#winner p {
  color: black;
  font-weight: bold;
  font-size: .75em;
  position: relative;
  z-index: 9999;
  margin: -30px auto 0 auto;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#winner:before,
#winner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 90%;
  background-color: rgb(255, 102, 0, 1);
}

#winner:before {
  transform: rotate(30deg);
}

#winner:after {
  transform: rotate(60deg);
}

#winner video {
  height: 120% !important;
  width: 120% !important;
  z-index: 9999999;
  position: fixed;
}
#slot-design {
  background-image: url("images/3-window.png"); 
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;
}

#wrapper {
  margin: 0 auto;
  width: 80%;
  height: 70vh;
  left: 0;
  top: 10vh;
  right: 0;
  position: absolute;
  overflow: hidden;
  z-index: 35;
}

#log {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  color: black;
  width: 30%;
  font-size: 2em;
  z-index: 999999;
  margin: 0;
  font-size: 1em;
}

#window {
  position: absolute;
  top: 30vh;
  overflow: hidden;
  margin: 0 auto;
  height: 50vh;
  width: 47%;
  left: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.slot {
  margin: 0 auto;
  width: 33.33%;
  transform-style: preserve-3d;
}

.slot-item {
  position: absolute;
  background: #fff;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.slot img {
  height: 40%;
  object-fit: cover;
  width: 100%;
  margin: 35% auto 0 auto;
  display: block;
}

.spin-0 { transform: rotateX(0deg); }
.spin-1 { transform: rotateX(-40deg); }
.spin-2 { transform: rotateX(-80deg); }
.spin-3 { transform: rotateX(-120deg); }
.spin-4 { transform: rotateX(-160deg); }
.spin-5 { transform: rotateX(-200deg); }
.spin-6 { transform: rotateX(-240deg); }
.spin-7 { transform: rotateX(-280deg); }
.spin-8 { transform: rotateX(-320deg); }

@keyframes spin-0 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(0deg); }
}
@keyframes spin-1 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-40deg); }
}
@keyframes spin-2 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-80deg); }
}
@keyframes spin-3 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-120deg); }
}
@keyframes spin-4 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-160deg); }
}
@keyframes spin-5 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-200deg); }
}
@keyframes spin-6 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-240deg); }
}
@keyframes spin-7 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-280deg); }
}
@keyframes spin-8 {
  0%    { transform: rotateX(20deg); }
  100%  { transform: rotateX(-320deg); }
}